annotated-types==0.5.0
attrs==21.2.0
backcall==0.2.0
bleach==4.0.0
Bottleneck
brotlipy==0.7.0
catalogue==2.0.9
certifi==2022.12.7
cymem==2.0.7
dill==0.3.7
fonttools==4.25.0
huggingface-hub==0.16.4
idna==3.3
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
joblib==1.3.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
langcodes==3.3.0
matplotlib
matplotlib-inline
mistune==0.8.4
multidict==6.0.4
networkx==2.6.3
notebook==6.4.6
numexpr==2.8.1
numpy==1.21.5
openai==0.27.6
packaging==21.3
pandas==1.3.4
Pillow==8.4.0
pip==21.2.4
preshed==3.0.8
pydub==0.25.1
Pygments==2.11.1
PyYAML==6.0.1
pyzmq==19.0.2
qtconsole==5.1.1
regex==2023.8.8
requests==2.28.1
scipy==1.7.3
seaborn==0.11.2
setuptools==58.0.4
smart-open==6.3.0
sniffio==1.3.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
tokenizers==0.13.3
torch==1.12.1
torchaudio==0.12.1
torchvision==0.13.1
tornado==6.1
tqdm==4.62.3
traitlets==5.7.1
transformers==4.26.0
typer==0.4.2
urllib3==1.26.11
uvicorn==0.23.2
wasabi==0.10.1
wheel==0.37.0
xlwt==1.3.0
yarl==1.9.2
zipp==3.6.0
sacremoses==0.0.46
pydantic==2.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl